* {
    box-sizing: border-box;
}

html {
    background-color: pink;
}

#website-header {
    position: fixed;
    display: block;
    background-color: plum;
    width: 100vw;
    padding: 20px;
    border-bottom: 1px solid= red;
}

body {
    margin: 0;
}

#website-main {
    padding: 100px;
}

section {
    margin-top: 50px;
    margin-bottom: 400px;
}

#main-image {
    width: 400px;
}